.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #b9b9b9;
    img {
        width: clamp(100px, 80%, 502px);
    }
    .login-card {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: clamp(100px, 80%, 600px);
        .input-field {
            width: 100%;
            padding: 5px;
            display: flex;
            background-color: rgb(235, 235, 235);
            border-radius: 7px;
            border: none;
            outline: none;
            position: relative;
            z-index: 1;
        }
    }
    .log_button_link {
        display: flex;
        text-decoration: none;
        p {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            color: rgba(131, 131, 131, 0.753);
        }
        .reg_link {
            text-decoration: none;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
        }
    }
    form {
        width: 100%;
        display: grid;
        justify-items: center;
    }
}

// .login_photo_circle {
//     position: absolute;
//     background: #ffffff;
//     box-shadow: inset 67px -14px 28px 19px #e8f6ff;
// }

.svg1 {
    position: absolute;
    width: clamp(10px, 30%, 174.39px);
    height: 174.31px;
    right: 10px;
    top: -51px;
}

.svg2 {
    position: absolute;
    width: clamp(10px, 30%, 100px);
    right: 10px;
    bottom: 60px;
}

.svg3 {
    position: absolute;
    right: 0;
    width: clamp(5px, 5%, 39px);
    top: 17.43%;
}

.login-card h3 {
    font-size: 25px;
    color: rgb(37, 37, 37);
    font-family: "Gill Sans Extrabold", sans-serif;
}

.input_label {
    font-size: 10px;
    color: rgb(131, 131, 131);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.login_input {
    padding-bottom: 8px;
    width: clamp(100px, 100%, 350px);
}

.err_message {
    padding: 8px 20px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.log_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: rgb(9, 97, 212);
    color: aliceblue;
    margin: auto;
    width: 140px;
    height: 20px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-size: 13px;
}

.log_button_div button:hover {
    background-color: #2980b9;
}

.a_href {
    text-decoration: none;
    font-size: 12px;
    color: rgba(131, 131, 131, 0.753);
    display: flex;
    justify-content: end;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
