.login-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 500px;
    left: 657.78px;
    top: 41.86px;
}

.login_photo {
    position: absolute;
    width: 502px;
    height: 479.98px;
    left: 138px;
    top: calc(50% - 479.98px / 2 - 8.01px);
}

.svg1 {
    position: absolute;
    width: 174.39px;
    height: 174.31px;
    left: 640px;
    top: -51px;
}

.svg2 {
    position: absolute;
    left: 62.27%;
    right: 33.91%;
    top: 83.89%;
    bottom: 10.22%;
}

.svg3 {
    position: absolute;
    left: 97.03%;
    right: -0.86%;
    top: 17.43%;
    bottom: 76.68%;
}

.login-card h3 {
    font-size: 25px;
    color: rgb(37, 37, 37);
    font-family: "Gill Sans Extrabold", sans-serif;
}

.input-field {
    width: 300px;
    padding: 5px;
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 7px;
    border: none;
}

.input_label {
    font-size: 10px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.login_input {
    padding-bottom: 8px;
}

.err_message {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.log_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: rgb(9, 97, 212);
    color: aliceblue;
    margin: auto;
    width: 140px;
    height: 20px;
    padding: 15px;
    margin-top: 20px;
    transition: 0.5s;
}

.log_button_div button:hover {
    background-color: #2980b9;
}

.a_href {
    text-decoration: none;
    font-size: 12px;
    color: rgba(131, 131, 131, 0.753);
    display: flex;
    justify-content: end;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

